.icon-logo {
    height: 60px;
    width: 60px;
    padding: 10px;
    line-height: 0px;
}

.icon-logo > img {
    width: 100%;
    height: 100%;

}

.app-container .content-container .side-menu .navbar-nav li a .icon {
	font-size: 1.7em;
	font-style: normal;
}

table.dataTable.no-footer,
.dataTables_wrapper.no-footer .dataTables_scrollBody {
	border-bottom: 0px solid #111 !important;
}

.modal-body.card {
	margin: 0 !important;
	padding: 0 !important;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    line-height: 0;
    border-radius: 50%;
    background-color: #7AC8A1;
}
.btn-circle i {
    color: white;
}
.btn-circle:hover {
    background-color: #419C6F;
}

.sidebar-item-no-submenu::after {
    content: "" !important;
}

/*
 * Agenda
 */

.agenda .agenda-column {
    background-color: #ddd;
    border: 1px solid #ccc;
}

.agenda .agenda-column .agenda-header p {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

@media (min-width: 768px){
  .agenda.seven-cols .col-md-1,
  .agenda.seven-cols .col-sm-1,
  .agenda.seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .agenda.seven-cols .col-md-1,
  .agenda.seven-cols .col-sm-1,
  .agenda.seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */    
@media (min-width: 1200px) {
  .agenda.seven-cols .col-md-1,
  .agenda.seven-cols .col-sm-1,
  .agenda.seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}