.icon-logo {
    height: 60px;
    width: 60px;
    padding: 10px;
    line-height: 0px;
}

.icon-logo > img {
    width: 100%;
    height: 100%;

}

.app-container .content-container .side-menu .navbar-nav li a .icon {
	font-size: 1.7em;
	font-style: normal;
}

table.dataTable.no-footer,
.dataTables_wrapper.no-footer .dataTables_scrollBody {
	border-bottom: 0px solid #111 !important;
}

.modal-body.card {
	margin: 0 !important;
	padding: 0 !important;
}